/*  Estilos para el archivo HTML TA11.html
•	Todos los elementos impares: un fondo rojo claro/rosa, y una lista de fuentes que contenga Verdana y DejaVu Sans con sans-serif como alternativa 
•	El segundo elemento: texto azul y un tamaño de fuente de 36px 
•	El tercer elemento: además de los estilos para todos los elementos impares, agrega un tamaño de fuente de 24px 
•	El cuarto elemento: un fondo verde claro, un tamaño de fuente de 24px y negrita
*/
/*div:nth-child */ /*  selector por posición */
div:nth-child(odd), p:nth-child(odd), button:nth-child(odd) { /* Todos los elementos impares */
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

div:nth-child(2) { /* El segundo elemento */
    color: blue;
    font-size: 36px;
}

p:nth-child(3) { /* El tercer elemento */
    font-size: 24px;
}

div:nth-child(4) { /* El cuarto elemento */
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
