/* 
El objetivo de este ejercicio es aplicar estilos a los elementos que son descendientes de otro elemento, dejando sin estilo los elementos que no son descendientes de ese elemento. Se pueden usar selectores de tipo o de clase para este ejercicio.
Concretamente, lo que se pide es:
•	Solo los elementos p que son descendientes del elemento div deben tener un fondo amarillo, texto rojo, un tamaño de fuente de 20px y alineación centrada

*/
div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}