/* 
Hay algunos elementos que tienen algún tipo de problema de especificidad o de orden de reglas en el archivo CSS proporcionado. 
Se pide descubrir qué problema está afectando a un elemento y cómo solucionarlo, de forma tal de alcanzar el resultado esperado. Se puede editar el archivo CSS agregando, eliminando o editando selectores para un bloque de declaraciones, o moviendo bloques de declaraciones. 
No se debe editar el archivo HTML ni ninguno de los estilos actuales en el CSS.
Boton de confimar tiene que ser verde con texto blanco, el boton de cancelar tiene que ser blanco con texto
El primer parrafo tiene que ser negro con texto grande 
El ultimo parrafo tiene que ser mas chico
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}
.para, .small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para.small-para {
  font-size: 14px;
}

.para {
  font-size: 22px;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 
 
button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
 
div.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
 
div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
